*{
 margin: 0;
 padding: 0;
}
    a{
  text-decoration: none;
  color: black;  

}
.header-container{
    background-color: bisque;
    background-image: url("") ;
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nev-item{
    display: flex;
    align-items: center;
}
li{
    padding: 15px;
    list-style-type: none;
}
.btn-primary{
    background-color: brown;
    color:white ;
    font-size: 16px;
    border:none ;
    border-radius:4px ;
    padding:16px ;
}
.logo{
    font-size: 48px;
}
.section-container{
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.div-container{
    padding: 10px 0 10px 0;
}

.picture{
    width: 100%;
}
.pragraph{
    padding:10px 10px;
}